.lg-flex-container
  .tretments
    - @treatments.each_with_index do |treatment,index|
      .treatment{id: "treatment_div_#{index}"}
        %h2= treatment.title
        %h4= treatment.subtitle
        %p= treatment.content
        = link_to "", treatments_path,class:"link"
