.lg-flex-container
  .tretments
    .treatment
      %h3.tretment-name 肩が痛い方
      = link_to "", treatments_path,class:"link"
      =image_tag "kansetsutsuu_kata.png",class:"treatment-img"
      %p.tretment-name 肩の痛みは50肩だけではありません。などの説明をだらだらと・・・・
    .treatment
      %h3.tretment-name 野球選手
      = link_to "", treatments_path,class:"link"
      =image_tag "sports_baseball_yakyuuhiji.png",class:"treatment-img"
      %p.tretment-name 体のプロが痛みをとるだけではなく、なぜ痛いのか、今後何をしたらいいのかを教えます。
    .treatment
      %h3.tretment-name.conditioning コンディショニング
      = link_to "", treatments_path,class:"link"
      =image_tag "undou_kata_strech_front_man.png",class:"treatment-img"
      %p.tretment-name 練習後のケア、試合後のケア、どうしても自分では、できないまたは時間がかかるところをコンディショニングします。

.lg-flex-container
  .tretments
    .treatment
      - @treatments.each do |treatment|
        %h2= treatment.title
        .tretment-name
        %h4= treatment.subtitle
        = link_to "", treatments_path,class:"link"
