!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KatalabSite
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap", rel: "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'jquery.js'
  %body
    .header-container
      .headers
        =link_to "カタラボ", root_path, :class => "header-logo"
        %span.header{href: "#1"} ○ カタラボについて
        %span.header{href: "#2"} ○ ポリシー
        %span.header{href: "#3"} ○ 私たち
        %span.header{href: "#4"} ○ アクセス
        %span.header{href: "#5"} ○ お知らせ
        %span.header{href: "#6"} ○ よくある質問
    = yield
    .footer-container
